body {
    font-family:'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;

    background-attachment: fixed;
}

button {
    background-color: #de1a57;
    color: #222;
    border: none;
    border-radius: 20px;
    padding: 15px 32px;
    font-size: large;
    display: inline-block;
    width: 30%;
    min-width: 12%;
}

.coop {
    text-align: center;
}

.youtube:hover {
    background-color: #FF0000;
    color: white;
}

.twitter:hover {
    background-color: #1DA1F2;
    color: white;
}

.twitch:hover {
    background-color: #6441a5;
    color: white;
}

.centerdiv {
    text-align: center
}

.title {
    text-align: center; 
    color: #de1a57;
}

.jaceoimg {
    vertical-align: top;           
}

.jaceofig {
    text-align: center;
    color: #de1a57;
}

.beaver {
    text-align: center;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}