body {
    background-color: #222; 
    font-family: Verdana;
}

.title {
    text-align: center; 
    color: #de1a57;
}

.jaceofig {
    display: inline-block;
    margin: 0 auto;
}

.jaceoimg {
    vertical-align: top;                 
}

.jaceocap {
    text-align: center;
    color: #de1a57;
}
