body {
    background-color: #222; 
    font-family: Verdana;
}

.buttons {
    text-align: center;
}

.title {
    text-align: center; 
    color: #de1a57;
}

.jaceoimg {
    vertical-align: top;               
}

.jaceofig {
    text-align: center;
    color: #de1a57;
}
